* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rsp-primary: #9792E4;
    --rsp-secondary: #FFFFFF;
    --rsp-heanvenly: #0084FD;
    --rsp-light-heanvenly: #B5DDFF;
    --rsp-special: #FDC15F;
    --rsp-footer: #333333;
}