* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rsp-primary: #9792E4;
    --rsp-secondary: #FFFFFF;
    --rsp-heanvenly: #0084FD;
    --rsp-light-heanvenly: #B5DDFF;
    --rsp-special: #FDC15F;
    --rsp-footer: #333333;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* #region Debug */

.debug header {
    background-color: #0084FD;
    height: 100px;
    width: 100%;    
}

.debug .logo,
.debug .menu {
    height: 80px;
    width: 100px;
    background-color: grey;
}

.debug .col-12 {
    height: 100px;
    width: 90%;
    background-color: lightcoral;
    border: 1px solid black;
    padding: 1rem;
}

.debug .text,
.debug .image {
    height: 60%;
    width: 100%;
    border: 1px solid red;
    background-color: black;
}

.debug .testimonial-card {
    background-color: lightpink;
    height: 200px;
    width: 100%;
}

/* #endregion Debug */

/* #region Utility */

.container {
    max-width: 1170px;
    width: 90%;
    margin: auto;
}

.row {
    padding: 1rem;
    display: flex;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-c {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

.dir-col {
    flex-direction: column;
}

img {
    max-width: 100%;
}

#benefits a,
.about-card-ceo a {
    background-color: #9792E4;
    padding: 0.5rem 3rem;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 900;
}

/* #endregion Utility */

/* #region Header */

header {
    height: 80px;
    background-color: var(--rsp-heanvenly);
}

nav .row {
    align-items: center;
    padding: 1rem;
}

.desktop-menu {
    display: none;
}

/* #endregion Header */

/* #region Main */

/* #region Offers */

#offers {
    margin: 2rem 0;
}

#offers .col-4 {
    text-align: center;
    font-weight: 600;
}

#offers .card {
    background-color: var(--rsp-light-heanvenly);
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
    border-radius: 20px;
    height: 100%;
}

#offers h2 {
    color: var(--rsp-heanvenly);
    padding-bottom: 1rem;
}

#offers p {
    color: gray;
    padding-bottom: 2rem;
}

#demo {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

#demo img {
    margin-top: 2rem;
}

#offers .col-12 {
    margin: 1rem 0;
}

#app-store {
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: white;
    background-color: var(--rsp-heanvenly);
    border-radius: 20px;
    padding: 0.5rem 2.5rem; 
}

/* #endregion Offers */

/* #region Planning */

#planning {
    margin: 2rem 0;
    background-color: var(--rsp-primary);
}

#planning h2,
#planning p {
    color: var(--rsp-secondary);
    padding: 1.5rem;
}

#planning h2 {
    font-size: 2rem;
}

#app-dev {
    background-color: var(--rsp-secondary);
    border-radius: 30px;
    padding: 1rem;
    margin-bottom: 2rem;
}

#app-dev p {
    text-align: center;
    font-style: italic;
}

#app-dev h2,
#app-dev p {
    color: black;
    margin: 1rem 0;
}

#app-dev span {
    padding: 1.3rem;
    background-color: #9792E4;
    border-radius: 50%;
}

/* #endregion Planning */

/* #region Testimonials */

.testimonials-header {
    text-align: center;
}

.testimonials-header p {
    margin-bottom: 2rem;
}

#testimonials h2 {
    color: #9792E4;
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

#testimonials p {
    line-height: 2rem;
}

.testimonial-card {
    background-color: #9792E4;
    border-radius: 50px;
    padding: 1rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;    
}

.testimonial-card p {
    margin: 1rem 0;
}

.testimonial-card img {
    object-fit: cover;
    width: 180px;
    aspect-ratio: 1;
    padding: 1rem;
    border-radius: 50%;
}

/* #endregion Testimonials */

/* #region Benefits */

#benefits {
    background-color: var(--rsp-primary);
    margin: 2rem 0;
}

#benefits .container > h2 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem 0;
}

.benefit-card h2 {
    font-size: 2.5rem;
}

.benefit-card h3 {
    font-size: 1.5rem;
}

.benefit-card {
    margin: 1rem 0;
    background-color: white;
    border-radius: 20px;
    color: var(--rsp-primary);
    padding: 2rem;
}

.benefit-card p {
    color: #333333;
}

#benefits p, 
#benefits h3 {
    margin: 1.5rem 0;
}

/* #endregion Benefits */

/* #region about us */

#about-us {
    margin-bottom: 5rem;
}

.about-card-text h2 {
    color: #9792E4;
    font-size: 2.5rem;
}

#about-us p {
    line-height: 2rem;
    margin: 2rem 0;
}

.about-card-ceo {
    position: relative;
    padding: 1rem;
}

.about-card-ceo img {
    width: 50%;
    border-radius: 50%;
}

.about-card-ceo #quotes {
    position: absolute;
    top: 0%;
    left: 38%;
    color: #9792E4;
}

.about-card-ceo p {
    font-size: 2rem;
    font-weight: 900;
    color: #9792E4;
}

/* #endregion about us */

/* #region get started */

#get-started {
    text-align: center;
    padding: 3rem 0;
    background-color: #9792E4;
}

#get-started .col-12 {
    width: 80%;
}

#get-started h4 {
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 2rem;
    color: lightgray;
}

#get-started h3 {
    color: white;
    font-weight: 900;
    font-size: 1.8rem;
}

#get-started h2 {
    padding-top: 2rem;
    color: #FDC15F;
    font-size: 3.6rem;
}

#get-started p {
    color: #FFFFFF;
    line-height: 1.5rem;
    margin: 2rem 0;
}

#get-button {
    color: #9792E4;
    background-color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 50px;
    padding: 1rem 4rem;
}

#get-started h6 {
    padding: 2rem 0;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
}

#privacy {
    color: #FFFFFF;
}

/* #endregion get started */

/* #endregion Main */

/* #region Footer */

footer {
    background-color: var(--rsp-footer);
    text-align: center;
    color: #FFFFFF;
    padding: 2rem;
}

footer .container {
    width: 90%;
}

footer p {
    padding-bottom: 3rem;
}

footer a {
    color: #9792E4;
}

/* #endregion Footer */

/* #region Media Query */

/* #region tablet view */

@media screen and (min-width: 768px) {

    .row {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-8 {
        width: calc(100% / 12 * 8);
    }

    .col-4 {
        width: calc(100% / 12 * 4);
        text-align: center;
    }

    #offers .col-12 {   
        padding: 0.5rem;
    }                                   /* Offers */

    .testimonial-card {
        text-align: left;
    }

    .testimonial-card > .col-4 {
        text-align: center;
    }                                   /* Testimonials */

    .col-6 {
        width: calc(96% / 12 * 6);
    }                                    /* benefits */

    #about-us .col-4 {
        width: calc(100% / 12 * 4);
    }

    .about-card-ceo {
        position: relative;
    }

    #quotes {
        position: absolute;
    }

    .about-card-ceo {
        text-align: left;
    }

    .about-card-ceo img {
        width: 200px;
    }

    

 









    #get-started .container {
        justify-content: center;
    }


   
    




    
}



/* #endregion tablet view */

/* #region desktop view */

@media screen and (min-width: 1200px) {
    
}







/* #region desktop view */

/* #endregion Media Query */

